<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <!-- Title here -->
    <title>Contact Us - Tina Kumar</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <!-- Bootstrap CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <!-- Isotope and Pretty Photo CSS -->
    <link href="assets/isotype.css" rel="stylesheet" >
    <link href="assets/prettyPhoto.css" rel="stylesheet">
    <!-- Font awesome CSS -->
    <link href="assets/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">
  </head>

  <body>

    <div class="container">
       <!-- Header -->
       <header>
        <div class="row">
         <div class="col-md-5 col-sm-5">
          <div class="hidden-xs">
             <div class="lnav">
              <!-- Left navigation. Replace # with links -->
              <%= link_to "About", welcomes_about_path %>
              <%= link_to "Contact", welcomes_contact_path %>
             </div>
          </div>
         </div>
         <div class="col-md-2 col-sm-2">
          <!-- Logo -->
          <div class="logo">
             <div class="name">
              <p class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
              <p class="namey"><b><a href="index.html">Tina Kumar</a></b></p>
              <p class="stars"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></p>
             </div>
          </div>
         </div>
         <div class="col-md-5 col-sm-5">
          <div class="rnav">
             <div class="mobily visible-xs">

             </div>
             <!-- Right navigation. Replace # with links -->
             <%= link_to "Portfolio", portfolios_path %>
             <%= link_to "Blog", blogs_path %>

          </div>
         </div>
        </div>
       </header>

       <hr />

       <!-- Contact Us -->
       <div class="contactus">
        <div class="row">
         <div class="col-md-4 col-sm-4">
          <!-- Contact us title -->
          <h2>Contact Us</h2>
         </div>
         <div class="col-md-8 col-sm-8">
          <!-- Contact us para -->
          <p>Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum. Vestibulum quis elit odio, id hendrerit ipsum. </p>
         </div>
        </div>
        <hr />
        <div class="contact">
         <div class="row">
          <div class="col-md-6 col-sm-6">
             <div class="form">
             <form class="form-horizontal">
               <div class="form-group">
                 <label class="control-label col-md-3" for="name">Name</label>
                 <div class="col-md-9">
                 <input type="text" class="form-control" id="name">
                 </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-md-3" for="email">Email</label>
                 <div class="col-md-9">
                 <input type="text" class="form-control" id="email">
                 </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-md-3" for="website">Website</label>
                 <div class="col-md-9">
                 <input type="text" class="form-control" id="website">
                 </div>
               </div>
               <div class="form-group">
                 <label class="control-label col-md-3" for="comment">Comment</label>
                 <div class="col-md-9">
                 <textarea class="form-control" id="comment" rows="5"></textarea>
                 </div>
               </div>
               <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                   <button type="submit" class="btn btn-danger">Submit</button>
                   <button type="reset" class="btn btn-default">Reset</button>
                </div>
               </div>
             </form>
             </div>
          </div>
          <div class="col-md-6 col-sm-6">
             <div class="gmap">
              <iframe scrolling="no" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hampton+Court+Palace,+East+Molesey,+United+Kingdom&amp;aq=2&amp;oq=London&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Hampton+Court+Palace,+East+Molesey,+United+Kingdom&amp;ll=51.404615,-0.341578&amp;spn=0.013921,0.032015&amp;t=m&amp;output=embed"></iframe>
             </div>
             <hr />
             <div class="address">
              <div class="row">
               <div class="col-md-6 col-sm-6">
                <address>
                  <span class="color bold company">Your Company, Inc.</span><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                </address>
               </div>
               <div class="col-md-6 col-sm-6">
                <address>
                  <span class="color bold company">Your Name</span><br>
                  <a href="mailto:#">first.last@gmail.com</a><br>
                  <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
               </div>
              </div>
             </div>
          </div>
         </div>
        </div>
       </div>

       <hr />

       <div class="cta">
        <div class="row">
         <div class="col-md-6 col-sm-6">
          <!-- Big title -->
          <h2>Want to Get Started<span class="color">?</span></h2>
         </div>
         <div class="col-md-6 col-sm-6 right-p">
          <!-- Para -->
          <p>Duis eget risus ac orci vulputate vestibulum sit amet id orci. Etiam ac ante at lorem ultrices elementum.</p>
         </div>
        </div>
       </div>

    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
      <div class="row">
        <div class="col-md-6">
         <div>
          <!-- Copyright info and links -->
          <p>Copyright &copy; <a href="#">Your Site</a></p>
          <p><a href="#">Contact</a> | <a href="#">Disclaimer</a> | <a href="#">About</a> | <a href="#">Jobs</a></p>
         </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
         <div class="socials">
          <!-- Social media icons. Replace # with your profile links -->
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-google-plus"></i></a>
         </div>
        </div>
      </div>
      <div class="clearfix"></div>
      </div>
    </footer>


    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>


    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="assets/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="assets/bootstrap.min.js"></script>
    <!-- Isotope and Pretty Photo JS -->
    <script src="assets/jquery.prettyPhoto.js"></script>
    <script src="assets/isotope.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="assets/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="assets/html5shiv.js"></script>
    <!-- Custom JS -->
    <script src="assets/custom.js"></script>
  </body>
</html>
